<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Info</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <h1><%= @stock.company_name %> | <%= @stock.symbol %></h1>

    <p>Latest price: <span <%= @latest =>><%= @stock.latest_price %></span></p>
    <p>Opening price: <%= @stock.open %></p>
    <p>High: <%= @stock.high %></p>
    <p>Low: <%= @stock.low %></p>
    <p>Time of check: <%= Time.now %></p>

  </body>
</html>
