<h1>Bikes! Bikes! Bikes!</h1>

<a href="/bikes/new">new</a>

<form action="/bikes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <span>Name!</span><input type="text" name="name" value="<%= @bike.name %>">
  <span>Image url!</span><input type="text" name="image_url" value="<%= @bike.image_url %>">
  <span>Description!</span></sp><input type="text" name="description" value="<%= @bike.description %>">
  <button>Create!</button>
</form>

<% @bikes.each do |bike| %>

  <div class="bike_card">
    <a href="/bikes/<%= bike.id %>">
    <h2><%= bike.name %>!</h2>
    <img src="<%= bike.image_url %>">
    <p><%= bike.description %></p>
    </a>
  </div>

<% end %>
